header .navbar-brand{
    margin-left: 0px;
    color: red !important;
    font-family: cursive;
    font-size: 50px;
    display: flex;
    justify-content: left;
}
header{
    position: relative;
    margin-top:20px;
    
    background-color: yellow;
    
    

}

@media(max-width:763px){
    .row .box{
        width: 100%;
    }
}
@media(min-width:993px) and (max-width:1200px){
    #navLinks{
        visibility: hidden;
    }

}
@media(min-width:1200px){
    #navLinks{
        visibility: hidden;
    }

}

#navLinks a{
    text-align: center;

   

}
#navLinks a:hover{
    color: blue;

}
header .container{
    position: relative;
    top:0px;
    
}
.button-box{
    position:absolute;
    top:20px;
    right: 50px;
    
}
.title{
    color:tomato;
    font-size: 50px;
    font-family: fantasy;
    text-align: center;
}
.box{
    height:800px;
    
    background-color: cadetblue;
    
    
    padding: 5px;
    box-sizing: border-box;
    overflow: auto;
    margin-top: 5px;
}
.row{
    /*margin-left: 150px;*/
    display: flex;
    justify-content: start;
}
.box h1{
    color:black;
    font-family: monospace;
    text-align: center;
}